.header{
    width: 100%;
    padding: 0px 10%;
    box-sizing: border-box;
    background-color: rgb(243, 132, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        h3{
            color:#fff;
            font-size: 30px;
        }
    }
    .menu{
        ul{
            li{
                display: inline-block;
                list-style: none;
                a{
                    text-decoration: none;
                    background-color: black;
                    color: #fff;
                    padding: 10px 20px;
                    margin-right: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}